<% layout("/boilerplate") %>
  <div id="noData" class="hidden flash subFlash errorFlash">Uploads need an image and a title</div>
  <div id="pageContent">
    <div id="contentForms">
      <h2 class="toggleText">Edit this post</h2>
      <div class="imgContainer">
        <img src="<%= upload.image.url %>" id="editImg" alt="<%= upload.image.filename %>">
      </div>
      <hr>
      <form action="/uploads/<%= upload._id%>?_method=PUT" method="POST" novalidate class="validated-form">
        <h3 class="editTitle toggleText">Title</h3>
        <input type="text" id="title" name="upload[title]" value="<%= upload.title%>" placeholder="Title here"
          class="requiredInput" required>
        <h3 id="editCaption" class="toggleText">Caption</h3>
        <textarea id="caption" name="upload[caption]" cols=100% rows="8" 
           required><%= upload.caption%></textarea>
        <br>
        <button onclick="captionOverride()" class="formButton">Update upload</button>
      </form>
      <form action="/uploads/<%= upload._id%>?_method=DELETE" method="POST">
        <button id="deletePost" class="formButton">Delete this</button>
      </form>
      <a href="/uploads/<%= upload._id%>">Back to post</a>
    </div>
  </div>
  <script src="/javascripts/captionProver.js"></script>