<% layout("/boilerplate") %>

<main>
  <section>
<h1>Edit post</h1>
<p>Html form.</p>
<h2><%= upload.title%></h2>
<form action="/uploads/<%= upload._id%>?_method=PUT" method="POST"> 
     <!--Use multipart/form-data when your form includes any <input type="file"> elements. I think novalidate is something to do with error handling or making sure enough data is input.-->
    <label for="title">Title</label>
    <input type="text" id="title" name="upload[title]" value="<%= upload.title%>" placeholder="Title here">

    <label for="image">Image</label>
    <input type="text" id="image" name="upload[image]" value="<%= upload.image%>" placeholder="img url">
    
    <label for="caption">Caption</label>
    <input type="text" id="caption" name="upload[caption]" value="<%= upload.caption%>" placeholder="Caption here">
    <button>Update upload</button>
</form>
<a href="/uploads/<%= upload._id%>">Back to campground</a>
<br>

</section>
</main>
      <!--  <script type="text/javascript" src="newjavascript.js"></script> -->
    </body>