<% layout("/boilerplate") %>

<main>
  <div id="noData" class="hidden errorFlash">Uploads need an image and a title</div>
  <section>
<h1>Edit post</h1>
<p>Html form.</p>
<h2><%= upload.title%></h2> 
<form action="/uploads/<%= upload._id%>?_method=PUT" method="POST" novalidate class="validated-form"> 
     <!--Use multipart/form-data when your form includes any <input type="file"> elements. I think novalidate is something to do with error handling or making sure enough data is input.-->
    <label for="title">Title</label>
    <input type="text" id="title" name="upload[title]" value="<%= upload.title%>" placeholder="Title here"  class="requiredInput"  required>
    <img src="<%= upload.image.url %>" alt="<%= upload.image.filename %>">
    <br>
    <label for="caption">Caption</label>
    <input type="text" id="caption" name="upload[caption]" value="<%= upload.caption%>" placeholder="Caption here" required>
    <button onclick="captionOverride()">Update upload</button>
</form>
<form action="/uploads/<%= upload._id%>?_method=DELETE" method="POST">
  <button>Delete this</button>
  </form>
<a href="/uploads/<%= upload._id%>">Back to campground</a>
<br>

</section>
</main>
<script src="/javascripts/captionProver.js"></script>
      <!--  <script type="text/javascript" src="newjavascript.js"></script> -->