<% layout("/boilerplate") %>

<main>
  <section>
<h1>Display page</h1>
<p>Larger image of the dog, text description, comments.</p>
<p>Don't just have a bunch of divs, <a href="https://www.w3schools.com/html/html5_semantic_elements.asp">use these</a> .</p>
</section>
<section>
  <h2>Title= <%= upload.title %></h2>
  <p>By: <%= upload.author.username %></p>
  <img src="<%= upload.image %>" alt="Dog image">
  
  <p><%= upload.caption %></p>
  </section>
  <% if(currentUser && upload.author.equals(currentUser._id)){%>
  <a href="/uploads/<%= upload._id%>/edit">Edit this</a>
  <form action="/uploads/<%= upload._id%>?_method=DELETE" method="POST">
    <button>Delete this</button>
    </form>
    <% } %>
    <br>
    <form action="/uploads/<%= upload._id%>/comments" method="POST" novalidate class="validated-form">
      <label for="body">Comment</label>
      <br>
<textarea name="comment[body]" id="body" cols="30" rows="10" required></textarea>
<br>
<button>Submit</button> 
    </form>
    <% for (var i=0; i < upload.comments.length; i++){ %>
        <p><%=upload.comments[i].body %></p>
        <form action="/uploads/<%= upload._id%>/comments/<%=upload.comments[i]._id%>?_method=DELETE" method="POST">
          <button>Delete</button>
          </form>
      <% } %>
</main>
      <!--  <script type="text/javascript" src="newjavascript.js"></script> -->
    </body>
