<% layout("/boilerplate") %>

<main>
  <section>
<h1>Display page</h1>
<p>Larger image of the dog, text description, comments.</p>
<p>Don't just have a bunch of divs, <a href="https://www.w3schools.com/html/html5_semantic_elements.asp">use these</a> .</p>
</section>
<section>
  <h2>Title= <%= upload.title %></h2>
  <p>By: <a href="/users/<%= upload.author._id  %>"><%= upload.author.username %></a></p>
  <img src="<%= upload.image.url %>" alt="<%= upload.image.filename %>">
  <br>
  <%  
    var likes = upload.likes.length-1; //Can this be moved to a external js file?
    var dislikes = upload.dislikes.length-1;
    %>
  <p class ="likes">Likes: <%= likes %></p>
  <p class ="dislikes">Dislikes: <%= dislikes %></p>

  <!--like button, adds user to likes array. Shows when user is not in dislikes array or likes array-->
  <% if(currentUser && !upload.likes.includes(currentUser._id) ){%>
  <form form action="/uploads/<%= upload._id%>/like?_method=PUT"  method="POST" class="opinionButton"> 
    <button>Like</button>
    </form>
    <% } %>

       <!--Un-like button, removes user to from likes array. Shows when user is in likes array.-->
  <% if(currentUser && upload.likes.includes(currentUser._id) && !upload.dislikes.includes(currentUser._id)){%>
    <form form action="/uploads/<%= upload._id%>/unlike?_method=PUT"  method="POST" class="opinionButton">
      <button class="unlikeButton">Remove like</button> 
    </form>
    <% } %>

    <!--Dislike button, adds user to dislikes array. Shows when user is not in dislikes array or likes array-->
    <% if(currentUser && !upload.dislikes.includes(currentUser._id)){%>
    <form form action="/uploads/<%= upload._id%>/dislike?_method=PUT"  method="POST" class="opinionButton">
    <button>Dislike</button> 
  </form>
  <% } %>

  <!--Un-dislike button, removes user  from dislike array. Shows when user is in dislikes array.-->
  <% if(currentUser && !upload.likes.includes(currentUser._id) && upload.dislikes.includes(currentUser._id)){%>
  <form form action="/uploads/<%= upload._id%>/undislike?_method=PUT"  method="POST" class="opinionButton">
    <button class="unDislikeButton">Remove dislike</button> 
  </form>
  <% } %>

 <br>
  <p><%= upload.caption %></p>
  </section>
  <% if(currentUser && upload.author.equals(currentUser._id)){%>
  <a href="/uploads/<%= upload._id%>/edit">Edit this</a>
  <form action="/uploads/<%= upload._id%>?_method=DELETE" method="POST">
    <button>Delete this</button>
    </form>
    <% } %>
    <br>
    <% if(currentUser){%> <!--If there IS a current user at all, render this form. -->
    <form action="/uploads/<%= upload._id%>/comments" method="POST" novalidate class="validated-form">
      <label for="body">Comment</label>
      <br>
<textarea name="comment[body]" id="body" cols="30" rows="10" required></textarea>
<br>
<button>Submit</button> 
    </form>
    <% } %>
    <% for (var i=0; i < upload.comments.length; i++){ %>
      <p><a href="/users/<%=upload.comments[i].author._id %>"><%=upload.comments[i].author.username %></a> says</p>
      <p><%=upload.comments[i].body %></p>
      <% if(currentUser && upload.comments[i].author.equals(currentUser._id)){%>
        <form action="/uploads/<%= upload._id%>/comments/<%=upload.comments[i]._id%>?_method=DELETE" method="POST">
          <button>Delete</button>
          </form>
          <% } %>
      <% } %>
</main>
      <!--  <script type="text/javascript" src="newjavascript.js"></script> -->
    </body>
