<!DOCTYPE html>
<html class="toggleText">
<% let viewMode; if(!currentUser){ viewMode="lightMode" ; } else{ if(currentUser.darkMode==false){ viewMode="lightMode"; } else{ viewMode="darkMode"; }} %>
    <head>
        <title>Welcome to dogBase</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/assets/placeholder.png" />
         <!-- This works because of the app.use statment in app.js setting dirname to public-->
        <link rel="stylesheet" href="/styles/styling.css"> <!--The site's view mode is set by the ternary operator above looking for a user and their preferences.-->
        <link rel="stylesheet" href="/styles/<%= viewMode %>.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/0db405f613.js"></script>
    </head>
    <body>
        <%- include("partials/header") %>
            <main>
                <%- include("partials/flash") %>
                    <%- body %>
            </main>
            <%- include("partials/footer") %>
    </body>
    <script src="/javascripts/validateForms.js"></script>
    <script src="/javascripts/dropdownFunc.js"></script>
</html>