<% layout("/boilerplate") %>
  <div id="pageContent">
    <div id="userPage">
      <table>
        <tr>
          <td>
            <img src="<%= user.profileImage.url %>" id="userPageImg" width="400">
          </td>
          <td id="userDetailsSide">
            <h3>Your details</h3>
            <p>Username: <%= user.username %>
            </p>
            <p>Email: <%= user.email %>
            </p>
            <p>Your display name: <%= user.displayName %>
            </p>
            <p><a href="/users/edit">Edit your details</a></p>
            <p>Posts: <%= user.posts.length %> Favs: <%= user.favourites.length %>
            </p>
            <p>Date joined: <%= user.dateJoined %></p>
          </td>
        </tr>
      </table>
      <div id="userDetailsBelow">
        <h3>Your details</h3>
        <p>Username: <%= user.username %></p>
        <p>Email: <%= user.email %></p>
        <p>Your display name: <%= user.displayName %></p>
        <p><a href="/users/edit">Edit your details</a></p>
        <p>Posts: <%= user.posts.length %> Favs: <%= user.favourites.length %></p>
        <p>Date joined: <%= user.dateJoined %></p>
        </div>
      <table>
        <td>
          <h3>Posts</h3>
        </td>
        <td>
          <h3><a href="/users/accountPage/favourites">Favourites</a></h3>
        </td>
      </table>
      <hr>
      <% if(!user.posts.length==0){ %>
          <ul>
            <% for (let i = user.posts.length - 1; i >= 0; i--){ %>
            <li class="liBorder">
              <table>
                <tr>
                  <td><img src="<%= user.posts[i].image.url %>" class="userListImg"></td>
                  <td><a href="/uploads/<%=user.posts[i]._id %>">
                      <%=user.posts[i].title %>
                    </a>
                    <br>
                    <p>Likes: <%=user.posts[i].likes.length-1 %> Dislikes: <%=user.posts[i].dislikes.length-1 %>
                          Comments: <%=user.posts[i].comments.length %></p>
                          <p>Posted: <%= user.posts[i].datePosted%> </p>
                  </td>
                </tr>
              </table>
            </li>
            <% }%> 
          </ul>
          <% } else { %>
            <p>You currently have no posts, why not <a href="/uploads/new">make one</a>?</p>
            <% } %>
    </div>
  </div>