<% layout("/boilerplate") %>

<main>
 
  <table>
    <td>
   <h3>Posts</h3>
   </td>
   <td>
     <h3><a href="/users/accountPage/favourites">Favourites</a></h3>
     </td>
   </table>
   <hr>
 
<img src="<%= user.profileImage.url %>"  width="400">
   
<h1>User account page of <%= user.username %></h1>
<p>Username: <%= user.username %></p>
<p>Email: <%= user.email %></p>
<p>Your display name: <%= user.displayName %></p>


-Way for user to change display name, user and email and password, need to find out how to change pass.
<br>


<h3>Your posts</h3>

<% if(!user.posts.length == 0){ %>
<% for (var i=0; i < user.posts.length; i++){ %> 
  <table >
      <tr>
        <td><a href="/uploads/<%=user.posts[i]._id %>"><%=user.posts[i].title %></a></td>
      </tr>
      <tr>
        <td>Likes: <%=user.posts[i].likes.length-1 %></td>
        <td>Dislikes: <%=user.posts[i].dislikes.length-1 %></td>
        <td>Comments: <%=user.posts[i].comments.length %></td>
      </tr>
    </table>
  <% } %>
  <% } else { %>
<p>You currently have no posts.</p>
    <% } %>

</main>
      <!--  <script type="text/javascript" src="newjavascript.js"></script> -->
    </body>