<% layout("/boilerplate") %>

<main>
    <h2>Userpage of <%= user.displayName %></h2>
    <img src="<%= user.profileImage.url %>"  width="400">
   <table>
     <td>
    <h3>Posts</h3>
    </td>
    <td>
      <h3><a href="/users/<%=user._id %>/favourites">Favourites</a></h3>
      </td>
    </table>

<hr>
<% if(!user.posts.length == 0){ %>
<% for (var i=0; i < user.posts.length; i++){ %> 
    <table >
        <tr>
          <td><a href="/uploads/<%=user.posts[i]._id %>"><%=user.posts[i].title %></a></td>
        </tr>
        <tr>
          <td>Likes: <%=user.posts[i].likes.length-1 %></td>
          <td>Dislikes: <%=user.posts[i].dislikes.length-1 %></td>
          <td>Comments: <%=user.posts[i].comments.length %></td>
        </tr>
      </table>
    <% }} else { %>
      <p>This user currently has no posts.</p>
          <% } %>
 - Have small thumbnails of the images. 


</main>

</body>