<% layout("/boilerplate") %>
<div id="pageContent">
  <div class="shortPageContainer">
    <div id="userPage" >
    <table>
      <tr>
        <td>
    <img src="<%= user.profileImage.url %>"  id="userPageImg">
    </td>
    <td id="userDetailsSide">
      <h2><%= user.displayName %></h2>
      <p>Posts: <%= user.posts.length %> Favs: <%= user.favourites.length %></p>
      <p>Date joined: <%= user.dateJoined %></p>
          </td>
    </tr>
    </table>
   <table>
     <td>
    <h3>Posts</h3>
    </td>
    <td>
      <h3><a href="/users/<%=user._id %>/favourites">Favourites</a></h3>
      </td>
    </table>
<hr>
<% if(!user.posts.length == 0){ %>
<% for (var i=0; i < user.posts.length; i++){ %> 
  <ul>
    <li>
    <table>
        <tr>
          <td><img src="<%= user.posts[i].image.url %>" class="userListImg"></td>
          <td><a href="/uploads/<%=user.posts[i]._id %>"><%=user.posts[i].title %></a>
            <br>
          <p>Likes: <%=user.posts[i].likes.length-1 %> Dislikes: <%=user.posts[i].dislikes.length-1 %> Comments: <%=user.posts[i].comments.length %>
          </td>
        </tr>
      </table>
    </li>
  </ul>
    <% }} else { %>
      <p>This user currently has no posts.</p>
          <% } %>
</div>
</div>
</div>